.color_blue{
    color:blue;
}

.color_red{
    color:red;
}

.color_green{
    color:green;
}
img{
    width: 300px;
}
p{
    border-style: dashed;
    border-color: aqua;
    border-width: 10px;
    padding: 30px;
    margin: 20px;
    text-align: justify;
}
.a{
    border-style: solid;
    border-color: rgb(226, 43, 162);
    border-width: 0.02cm;
    color: brown;
}